:root{
  --font-family-sans-serif: "游明朝","Helvetica Neue", Helvetica, Arial,  Meiryo, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html{
  font-size: 12.5px;
}

header{
  font-size: 2rem;
}

main {
  width: 210mm;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left : auto;
  /* padding: 0; */
  font-family: var(--font-family-sans-serif);  
}


main {
background-color: #ffffff;
padding: 10mm;
}

h6, h5, h4, h3, h2, h1 {
  font-family: "游ゴシック体", "Helvetica Neue", Helvetica, Arial, Meiryo, "游明朝", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", sans-serif;
  font-weight: 500;
}

.container{
  padding: 0;
  margin-top: 40px;
}

footer{
  padding-top: 60px;
}

.printfooter{
  font-family: "游ゴシック体", "Helvetica Neue", Helvetica, Arial, Meiryo, "游明朝", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", sans-serif;
}



.btn {
  border-radius: 2px;
}

.btn-small {
  border-radius: 1px;
}

.btn-large {
  border-radius: 3px;
}

@page {
  size : A4;
  }

@media print {
  body {
    /* for chrome */
    width: 210mm;
    /* for chrome */
    min-width: auto !important;
  }
}

table td{
    /*text-align: center; */
    vertical-align: middle;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

nav{
   text-align: center; 
   color: #ffffff;
   background-color: #00044e;
 }  

footer{
  border-top: 10px solid #ff7d24;
   text-align: center; 
   color: #ffffff;
   background-color: #15173c;
 }  

 .footer-col0{
  text-align: center; 
 }

 .footer-col0 h3{
  color: #ff7d24;
  text-align: center; 
  font-size: 2.5rem;
 }



 .footer-col1{
  text-align: center; 
 }

 footer h3{
   text-align: center; 
   color: #ff7d24;
   font-size: 2.5rem;
 }  

 .footer-logo2{
   text-align: center; 
   font-size: 1.5rem;
   border: solid #fff;
   border-width:1px 0 1px 0
 } 

 .footer-logo4{
  text-align: center; 
  font-size: 1.25rem;
  /* border: solid #15173c;
  border-width:1px 0 1px 0; */
} 

 .footer-col2{
  text-align: left; 
  display: table-cell;
  vertical-align: bottom;
 }

 .pagebreak {
  break-after: page;
 }

 
  @media print {
    .divFooter {
        display: none;
        }
    }

    @media print {
    .divFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    }
  }

  /* @media screen {
    .divFooter {
        display: none;
        }
    }
 */

  @media print {
    header {
      display: none;
      }
  }


  @media print {
    .header-end {
        display: none;
        }
    }
  