{% extends 'base.html' %}

{% block content %}


<!-- <div class="container mt-5">
  <p class="text-end">{% now "Y年m月d日" %}</p>
</div> -->

<div style="height: 110px;"></div>

<div class="container mt-5">
    <form method='post'>{% csrf_token %}
      <div class="row d-flex justify-content-center">
          <div class="col-md-6">
              <div class="card p-4 py-5" style="background-color: #15173c;">
                  <h1 class="text-center" style="color: #ff7d24;">Home</h1>
                  <p class="text-end" style="color: white;">{% now "Y年m月d日" %}</p>
                  
                  
                  <font size="1.5rem" class="text-center">
                    {% if error %}
                  <div style="color: whitesmoke;">
                  {{ error }}
                  </div>
                  {% endif %}
                  </font>

                  <div class="container mt-5">
                    <h3><a href="{% url 'contract_top' %}" style="color: white; text-decoration:none;">Docments</a></h3>
                  </div>

                  <div class="container mt-5">
                    <h3><a href="{% url 'sales_app:sales_list' %}" style="color: white; text-decoration:none;">Sales</a></h3>
                  </div>
                  
                  <div class="container mt-5">
                    <h3><a href="{% url 'sales_app:staff_list' %}" style="color: white; text-decoration:none;">Staff</a></h3>
                  </div>

                  <div class="container mt-5">
                    <h3><a href="/admin/" style="color: white; text-decoration:none;" target="_blank">Database(各種データ入力)</a></h3>
                  </div>

                  {% if user.is_superuser %}
                  <div class="container mt-5">
                    <h3><a href="{% url 'signup' %}" style="color: white; text-decoration:none;">ユーザー登録</a></h3>
                  </div>
                  {% endif %}

                  {% comment %} 
                    <!-- <br><br><a href="{% url 'contract_top' %}">契約データ</a> <br><br>
                  <br><br><a href="{% url 'contract_top' %}">顧客データ</a> <br><br>
                  <br><br><a href="{% url 'contract_top' %}">物件データ</a> <br><br>
                  <br><br><a href="{% url 'staff_top' %}">スタッフ一覧</a> <br><br>
                  <br><br><a href="{% url 'staff_top' %}">会社データ</a> <br><br>
 -->
                  <!-- <br><br><a href="{% url 'signup' %}">ユーザー登録画面</a> <br><br> -->
                  {% endcomment %} 

                  <br><br>

                  <div class="mt-4 text-center" > <a href="{% url 'logout' %}" class="btn btn-danger btn-lg"  role="button">ログアウト</a></div>
                  <!-- <div class="mt-4"> <button class="btn btn-danger button btn-block">ログアウト</button> </div><br> -->
                  <!-- <a href="logout/">ログアウト</a> -->
              </div>

          </div>
      </div>
    </form>
  </div>
  

{% endblock content %}