{% extends 'base.html' %}

{% block content %}

<div style="height: 110px;"></div>

<div class="container mt-5">
  <form method='post'>{% csrf_token %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card p-4 py-5" style="background-color: #15173c;">
                <h2 style="color: #ff7d24;">Yes&Home</h2>
                <h4 style="color: white;">Web System Login</h4>
                {% if error %}
                <div style="color: whitesmoke;">
                {{ error }}
                </div>
                {% endif %}
                <div class="signup mt-3"> 
                    <input type="text" name="username_data" class="form-control" placeholder="User Name"><br> 
                    <input type="password" name="password_data" class="form-control" placeholder="Password"> </div>
                <div class="mt-4"> <button class="btn btn-danger button btn-block">Login</button> </div><br>
            </div>
        </div>
    </div>
  </form>
</div>

<!--
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

-->

{% endblock content %}