{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Begin page content -->
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0 py-0 px-6">

<div class="header-end" style="height: 150px;">---</div>

<div class="container p-0 mt-0">
    <p class="lead text-end">({{ contract.title }})</p>
</div>

<div class="container p-0 mt-0">
    <h1 class="text-center">契約時費用明細</h1>
</div>

<div class="container p-0 mt-3">
    <p class="lead text-end">発行日 2021年12月31日</p>
    <p class="lead" style="font-size: 1.25rem; font-weight: bold;">{{ contract.customer.lastname }} {{ contract.customer.firstname }} {{ contract.customer.honorific }}</p>
  </div>

  <div class="container px-6 py-0 mt-5">
    <dl class="row" style="font-size: 1.25rem;">
      <p class="col-sm-12">物件名　　{{ contract.property.propertyname }} {{ contract.property.room }}</p>
      <!-- <dd class="col-sm-9">{{ contract.property.propertyname }}</dd> -->
      <p class="col-sm-12">所在地　　{{ contract.property.address }}</p>
      <!-- <dd class="col-sm-9">{{ contract.property.address }}</dd> -->
    </dl>
  </div>
  
  <div class="containerp-0 mt-5">
      <table class="table table-hover px-6">
        <thead  class="table-light">
          <tr>
            <th scope="col"></th>
            <th scope="col">項目</th>
            <th scope="col">月</th>
            <th scope="col">金額(円)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td colspan="2">敷金</td>
            <td>\100,000</td>
          </tr>
  
          <tr>
            <th scope="row">2</th>
            <td colspan="2">礼金</td>
            <td>\50,000</td>
          </tr>
  
          <tr>
            <th rowspan="2" scope="row">3</th>
            <td rowspan="2">家賃</td>
            <td colspan="1">月分</td>
            <td>\25,000</td>
          </tr>
          <tr>
            <td colspan="1">月分</td>
            <td>\51,000</td>
          </tr>
  
          <tr>
            <th rowspan="2"scope="row">4</th>
            <td rowspan="2">共益費</td>
            <td colspan="1">月分</td>
            <td>\1,000</td>
          </tr>
          <tr>
            <td colspan="1">月分</td>
            <td>\2,000</td>
          </tr>
  
          <tr>
            <th rowspan="2"scope="row">5</th>
            <td rowspan="2">町内会費</td>
            <td colspan="1">月分</td>
            <td>\1,000</td>
          </tr>
          <tr>
            <td colspan="1">月分</td>
            <td>\2,000</td>
          </tr>
  
          <tr>
            <th rowspan="2"scope="row">6</th>
            <td rowspan="2">24時間管理費</td>
            <td colspan="1">月分</td>
            <td>\1,000</td>
          </tr>
          <tr>
            <td colspan="1">月分</td>
            <td>\2,000</td>
          </tr>
   
          <tr>
            <th rowspan="2"scope="row">7</th>
            <td rowspan="2">駐車場料</td>
            <td colspan="1">月分</td>
            <td>\1,000</td>
          </tr>
          <tr>
            <td colspan="1">月分</td>
            <td>\2,000</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td colspan="2">月額保証料</td>
            <td>\0</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td colspan="2">火災保険料</td>
            <td>\0</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td colspan="2">仲介手数料</td>
            <td>\0</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td colspan="2">清掃料</td>
            <td>\0</td>
          </tr>
          <tr>
            <th scope="row">12</th>
            <td colspan="2">初回保証委託料</td>
            <td>\0</td>
          </tr>
          <tr>
            <th scope="row">13</th>
            <td colspan="2">FF分解整備料</td>
            <td>\0</td>
          </tr>
          <tr>
            <th scope="row">14</th>
            <td colspan="2">シリンダー交換料</td>
            <td>\0</td>
          </tr>
          <tr>
            <th scope="row">15</th>
            <td colspan="2">その他諸費用</td>
            <td>\0</td>
          </tr>

          <tr class="table-active">
            <td scope="row" class="text-center" colspan="3">[A]　合計金額(税込)</td>
            <td >\0</td>
          </tr>

          <tr>
            <td scope="row" class="text-center" colspan="3">[B]　手付金</td>
            <td>\0</td>
          </tr>
  
          <tr class="table-active">
            <td scope="row" class="text-center" colspan="3">[A－B]　差引残金</td>
            <td>\50,000</td>
          </tr>
        </tbody>
        <tfoot class="table-light">
          <td scope="row" class="text-center" colspan="3">差引残金お振込期日</td>
          <td>2021/12/31</td>
        </tfoot>
      </tbody>
    </table>

  </div>

  <div class="pagebreak"></div>

  <div class="container px-6 p-0 mt-2">
    <h3 class="mt-5">必要書類</h3>
    <div class="row">
      <div class="col-sm">
        <h4 class="mt-3">契約者様</h4>
        <div class="list-group list-group-flush">
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            住民票 (本籍記載のもの)
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            Second 
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            Third 
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            Fourth 
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            Fifth 
          </label>
        </div>
      </div>

      <div class="col-sm">
        <h4 class="mt-3">同居人様</h4>
        <div class="list-group list-group-flush">
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            住民票 (本籍記載のもの) 
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            Second 
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            Third 
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            Fourth 
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            Fifth 
          </label>
        </div>
      </div>

      <div class="col-sm">
        <h4 class="mt-3">連帯保証人様</h4>
        <div class="list-group list-group-flush">
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            First 
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            Second 
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            Third 
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            Fourth 
          </label>
          <label class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="">
            Fifth 
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="container p-0 mt-5">
    <h3 class="">備考</h3>
    <div class="container mt-3 px-3" style="font-size: 1.25rem; line-height: 200%;">
        <strong><u>
          テキストフィールドテキストフィールドテキストフィールドテキストフィールドテキストフィールドテキストフィールドテキストフィールドテキストフィールドテキストフィールドテキストフィールドテキストフィールドテキストフィールド
        </u></strong>
              </div>
  </div>

  <div class="container px-6 pt-0">
    <div class="row gx-5 ">
      <div class="col">
            <h4 class="mt-5">振込先</h4>
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th scope="row">銀行</th>
                  <td>{{ contract.corp.bank }}</td>
                </tr>
                <tr>
                  <th scope="row">支店</th>
                  <td>{{ contract.corp.bankbranch }}</td>
                </tr>
                <tr>
                  <th scope="row">口座</th>
                  <td>{{ contract.corp.bankaccount }}</td>
                </tr>
                <tr>
                  <th scope="row">名義</th>
                  <td>{{ contract.corp.bankid }}</td>
                </tr>
                <tr>
                  <th scope="row">ﾌﾘｶﾞﾅ</th>
                  <td>{{ contract.corp.bankkana }}</td>
                </tr>
        
              </tbody>
            </table>
            
      </div>

      <div class="col "> 
        <h4 class="mt-5">担当店</h4>
        <table class="table table-hover">
        <tbody>            
          <tr>
            <th scope="row">店名</th>
            <td>{{ contract.corp.name }}</td>
        </tr>
          <tr>
            <th scope="row">住所</th>
            <td>{{ contract.corp.address }}</td>
        </tr>
          <tr>
            <th scope="row">TEL</th>
            <td>{{ contract.corp.tel }}</td>
        </tr>
          <tr>
            <th scope="row">FAX</th>
            <td>{{ contract.corp.fax }}</td>
        </tr>
          <tr>
            <th scope="row">Mail</th>
            <td>{{ contract.corp.email }}</td>
        </tr>
          <tr>
            <th scope="row">担当</th>
            <td>{{ contract.staff.lastname }}</td>
          </tr>
        </tbody>
      </table>

      <!-- <div class="col footer-col1 px-6 py-0 printfooter">
        <img class="mt-3 py-2" src="{% static 'img/logo2.png' %}" alt="イエストホーム" title="logo" width="50%">
        <h3>Yes&Home</h3>
        <p class="footer-logo4 my-1 py-1">株式会社　イエストホーム</p>
        <p class="footer-logo3 my-1 py-1">北海道知事　石狩(1) 8834号</p>
    </div> -->

    </div>
    </div>
  </div>

<div style="text-align: center">
    <img class="mt-3 py-2" src="{% static 'img/logo2.png' %}" alt="イエストホーム" title="logo" width="30%">
</div>

<!-- <footer class="footer mt-auto py-3 divFooter">
  <div class="container px-6">

    <div class="row gx-5">
      <div class="col footer-col1">
          <h3>Yes&Home</h3>
          <p class="footer-logo2">株式会社イエストホーム</p>
          <p class="footer-logo3">北海道知事　石狩(1) 8834号</p>
      </div>
  
      <div class="col footer-col2">
          <p>
            札幌市白石区南郷通16丁目北1-18
            <br>TEL 011-868-7770
            <br>FAX 011-868-7771		
            <br>E-mail info@yesthome.co.jp
            <br>https://yesthome.co.jp/
          </p>
      </div>
    </div>
  
  </div>

</footer> -->

</body>


    
{% endblock content %}
