{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <h2></h2>
</div>

<div class="container mt-5">
    <p class="text-end">{% now "Y年m月d日" %}</p>
</div>

<div class="container mt-5">
    {% if meisai_list %}
    <table class="table">
        <thead>
        <tr>
            <th>氏名</th>
            <th>フリガナ</th>
            <th>部署</th>
            <th>最終更新日</th>
        </tr>
        </thead>
        <tbody>
        {% for meisai in meisai_list %}
        <tr>
            <th><a href="{% url 'meisai_print' meisai.id %}">{{ meisai.lastname }} {{ meisai.firstname }}</a></th>
            <th>{{ meisai.lastnamekana }} {{ meisai.firstnamekana }}</th>
            <th>{{ meisai.department }}</th>
            <th>{{ meisai.update }}</th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>契約時費用明細はまだ登録されていません。</p>
    {% endif %}
</div>
    
{% endblock content %}
