{% extends 'base.html' %}
{% load static %}


{% block content %}


<!-- Begin page content -->
<!-- <body class="d-flex flex-column h-100"> -->
<main class="flex-shrink-0 py-0 px-6">

<div class="header-end" style="height: 150px;">---</div>

<!-- <div class="container mt-5">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">保存する</button>
    </form>
</div> -->


<div class="container p-0 mt-0">
    <p class="lead text-end">({{ contract.title }})</p>
</div>

<div class="container p-0 mt-0">
    <h1 class="text-center">領収書【Edit】</h1>
</div>

<div class="container p-0 mt-3">
  <p class="lead text-end">発行日 {% now "Y年 n月 j日" %}</p>
  <!-- <p class="lead" style="font-size: 1.25rem; font-weight: bold;">{{ contract.customer.lastname }} {{ contract.customer.firstname }} 様</p> -->
</div>

<form method="POST">
    <strong>
    {{ form.non_field_errors }}
    <div class="field p-4 my-5" style="font-size: 1.5rem;width:75%; border: solid 0px ;background-color: beige; ">
        {{ form.receipt_atena.label_tag }}
        {{ form.receipt_atena }}
        <span class="helptext">{{ form.receipt_atena.help_text }}</span>
        {{ form.receipt_atena.error }}
        <!-- <button type="submit" class="submit btn btn-primary">保存/印刷</button> -->
    </div>
    </strong>
    <!-- {% csrf_token %} -->
<!-- </form> -->


<div class="container p-5 mt-5" style="border: solid 1px; width: 100%;">
  <h2 class="text-center mt-2">合計金額
    <!-- <form method="POST"> -->
        {{ form.non_field_errors }}
        <div class="inline-block field p-4 my-5" style="width:100%; border: solid 0px ;background-color: beige; ">
            <!-- {{ form.receipt_total.label_tag }} -->
            {{ form.receipt_total }}
            <span class="helptext">{{ form.receipt_total.help_text }}</span>
            {{ form.receipt_meimo.error }}
            <!-- <button type="submit" class="submit btn btn-primary">保存/印刷</button> -->
        </div>
        <!-- {% csrf_token %} -->
    <!-- </form> -->

    </h2>
</div>

<div class="container p-0 mt-3" style="border: solid 0px;">
      <strong>
          <dl class="row text-center" style="font-size: 1.25rem; ">
            <div style="width:100%">
            <!-- <form method="POST"> -->
                {{ form.non_field_errors }}
                <div class="field p-4 my-5" style="width:100%; border: solid 0px ;background-color: beige; ">
                    {{ form.receipt_meimo.label_tag }}
                    {{ form.receipt_meimo }}
                    <span class="helptext">{{ form.receipt_meimo.help_text }}</span>
                    {{ form.receipt_meimo.error }}
                    <!-- <button type="submit" class="submit btn btn-primary">保存/印刷</button> -->
                </div>
                <!-- {% csrf_token %} -->
            <!-- </form> -->
            </div>
            <!-- <p class="col-sm-12">{{ contract.purpus }}として</p> -->
            <!-- <p class="col-sm-12">上記正に領収いたしました。</p> -->
          </dl>
       </strong>
</div>

  <div class="container px-6 pt-0 mt-2">
    <div class="row gx-5 ">
      <div class="col">
            <!-- <hr> -->
            <!-- <form method="POST"> -->
                {{ form.non_field_errors }}
                <div class="field p-4 my-5" style="width:100%; border: solid 0px ;background-color: beige; ">
                    <!-- {{ form.receiptremarks1.label_tag }} -->
                    {{ form.receiptremarks1 }}
                    <span class="helptext">{{ form.receiptremarks1.help_text }}</span>
                    {{ form.receiptremarks1.error }}
                    <!-- <button type="submit" class="submit btn btn-primary">保存/印刷</button> -->
                </div>
                <!-- {% csrf_token %} -->
            <!-- </form> -->
            <!-- <hr> -->
      </div>

      <div class="col " style="position: relative;"> 
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <img class="mt-3 py-2" src="{% static 'img/logo2.png' %}" alt="イエストホーム" title="logo" width="75%">
        <img class="imgprint" src="{% static 'img/kakuin.png' %}" alt="イエストホーム角印" width="100px" style="position: absolute; top: 48%;">
        <!-- <strong><table class="table table-borderless">
        <tbody style="font-size: 1.25rem;">            
          <tr>
            <td>{{ contract.corp.name }}</td>
        </tr>
          <tr>
            <td>{{ contract.corp.address }}</td>
        </tr>
          <tr>
            <td>TEL {{ contract.corp.tel }}</td>
        </tr>
          <tr>
            <td>FAX {{ contract.corp.fax }}</td>
        </tr>
        </tbody>
      </strong>
      </table> -->

    <!-- <div class="col footer-col1 px-6 py-0 printfooter">
        <img class="mt-3 py-2" src="{% static 'img/logo2.png' %}" alt="イエストホーム" title="logo" width="50%">
        <h3>Yes&Home</h3>
        <p class="footer-logo4 my-1 py-1">株式会社　イエストホーム</p>
        <p class="footer-logo3 my-1 py-1">北海道知事　石狩(1) 8834号</p>
    </div> -->

    </div>
    </div>

    <div class="text-center">
        <button type="submit" class="submit btn btn-primary">保存/印刷</button>
        {% csrf_token %}
    </div>
</form>




</div>

<div class="pagebreak"></div>

  <!-- <div class="container p-0 mt-0">
      <p class="lead text-end">({{ contract.title }})</p>
  </div> -->
  <div class="header-end" style="height: 150px;"><br><br><hr></div>

  <br>
  <br>
  <div class="container p-0 mt-6">
      <h1 class="text-center">預り証</h1>
  </div>
  



</main>
<!-- </body> -->


    
{% endblock content %}
