{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<main class="flex-shrink-0 py-0 px-6">

<div class="header-end" style="height: 150px;"></div>

<div class="container p-0 mt-5">
    <h1 class="text-center">領収書</h1>
</div>

<div class="container p-0 mt-3">
  <p class="lead text-end">{{ contract.receipt_date }}</p>
  <p class="lead" style="font-size: 1.25rem; font-weight: bold;">{{ contract.receipt_atena }} 様</p>
</div>

<div class="container p-5 mt-5" style="border: solid 1px; width: 80%;">
  <h1 class="text-center mt-2">合計金額　{{ contract.receipt_total|intcomma }}　円</h1>
</div>

<div class="container p-0 mt-5" style="border: solid 0px;">
      <strong>
          <dl class="row text-center" style="font-size: 1.25rem;">
            <p class="col-sm-12">{{ contract.property.propertyname }} {{ contract.property.room }} {{ contract.receipt_meimo }}として</p>
            <p class="col-sm-12">上記正に領収いたしました。</p>
          </dl>
       </strong>
</div>

  <div class="container px-6 pt-0 mt-2">
    <div class="row gx-5 ">
      <div class="col" style="border: solid 0px;">
            <strong><u>
              <div class="container px-6 py-0 mt-5">
                <dl class="row" style="font-size: 1.25rem;">
                  <p class="col-sm-12">{{ contract.receiptremarks1 | linebreaksbr  }}</p>
                </dl>
              </div>
                    </u></strong>
      </div>

      <div class="col " style="position: relative;"> 
        <img class="mt-3 py-2" src="{% static 'img/logo2.png' %}" alt="イエストホーム" title="logo" width="75%">
        <img class="imgprint" src="{% static 'img/kakuin.png' %}" alt="イエストホーム角印" width="100px" style="position: absolute; top: 8%;">
        <strong><table class="table table-borderless">
        <tbody style="font-size: 1.25rem;">            
          <tr>
            <td>{{ contract.corp.name }}</td>
        </tr>
          <tr>
            <td>{{ contract.corp.address }}</td>
        </tr>
          <tr>
            <td>TEL {{ contract.corp.tel }} / FAX {{ contract.corp.fax }}</td>
        </tr>
        <tr>
          <td>担当　{{ user.first_name }} {{ user.last_name }}</td>
      </tr>
      </tbody>
      </strong>
      </table>

    </div>
    </div>
  </div>

  <div class="pagebreak"></div>

  <div class="header-end" style="height: 100px;"><hr></div>
  <div class="header-end2" style="height: 50px;"></div>

  <div class="container p-0 mt-0">
      <h1 class="text-center">預り証</h1>
  </div>
  
  <div class="container p-0 mt-3">
    <p class="lead text-end">{{ contract.azukari_date }}</p>
    <p class="lead" style="font-size: 1.25rem; font-weight: bold;">{{ contract.azukari_atena }} 様</p>
  </div>
  
  <div class="container p-5 mt-5" style="border: solid 1px; width: 80%;">
    <h1 class="text-center mt-2">合計金額　{{ contract.azukari_total|intcomma }}　円</h1>
  </div>
  
  <div class="container p-0 mt-5" style="border: solid 0px;">
        <strong>
            <dl class="row text-center" style="font-size: 1.25rem;">
              <p class="col-sm-12">{{ contract.property.propertyname }} {{ contract.property.room }} {{ contract.azukari_meimo }}として</p>
              <p class="col-sm-12">上記正に領収いたしました。</p>
            </dl>
         </strong>
  </div>
  
    <div class="container px-6 pt-0 mt-2">
      <div class="row gx-5 ">
        <div class="col" style="border: solid 0px;">
              <strong><u>
                <div class="container px-6 py-0 mt-5">
                  <dl class="row" style="font-size: 1.25rem;">
                    <p class="col-sm-12">{{ contract.azukari_remarks2 | linebreaksbr  }}</p>
                  </dl>
                </div>
                      </u></strong>
        </div>
  
        <div class="col " style="position: relative;"> 
          <img class="mt-3 py-2" src="{% static 'img/logo2.png' %}" alt="イエストホーム" title="logo" width="75%">
          <img class="imgprint" src="{% static 'img/kakuin.png' %}" alt="イエストホーム角印" width="100px" style="position: absolute; top: 8%;">
          <strong><table class="table table-borderless">
          <tbody style="font-size: 1.25rem;">            
            <tr>
              <td>{{ contract.corp.name }}</td>
          </tr>
            <tr>
              <td>{{ contract.corp.address }}</td>
          </tr>
            <tr>
              <td>TEL {{ contract.corp.tel }} / FAX {{ contract.corp.fax }}</td>
          </tr>
          <tr>
            <td>担当　{{ user.first_name }} {{ user.last_name }}</td>
        </tr>
        </tbody>
        </strong>
        </table>
  
      </div>
      </div>
    </div>

    <div class="header-end" style="height: 100px;"></div>

</main>

    
{% endblock content %}
