{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Begin page content -->
<!-- <body class="d-flex flex-column h-100"> -->
<main class="flex-shrink-0 py-0 px-6">

<div class="header-end" style="height: 150px;">---</div>

{% comment %}
<div class="container p-0 mt-0">
    <p class="lead text-end">{{ contract.title }}</p>
</div>
{% endcomment %}

<div class="container p-0 mt-0">
    <h1 class="text-center">残務処理指示書</h1>
</div>

<div class="container p-0 mt-3">
　  <p class="lead text-end">発行日 {% now "Y年 n月 j日" %}</p>
    <!-- <p class="lead" style="font-size: 1.25rem; font-weight: bold;">{{ contract.customer.lastname }} {{ contract.customer.firstname }} {{ contract.customer.honorific }}</p> -->
  </div>

  <div class="container px-6 py-0 mt-5">
    <dl class="row" style="font-size: 1.25rem;">
      <p class="col-sm-12">申込日　　　　{{ contract.offerdate }}</p>
      <p class="col-sm-12">入居日　　　　{{ contract.occupdate }}</p>
      <p class="col-sm-12">物件名　　　　{{ contract.property.propertyname }} {{ contract.property.room }}</p>
      <!-- <dd class="col-sm-9">{{ contract.property.propertyname }}</dd> -->
      <p class="col-sm-12">所在地　　　　{{ contract.property.address }}</p>
      <!-- <dd class="col-sm-9">{{ contract.property.address }}</dd> -->
      <p class="col-sm-12">顧客名　　　　{{ contract.customer.lastname }} {{ contract.customer.firstname }} {{ contract.customer.honorific }}　(電話 {{ contract.customer.tel1 }} )</p>
    </dl>
  </div>

  <hr>
  
  <div class="container px-6 py-0 mt-5">
    <dl class="row" style="font-size: 1.25rem;">
      <p class="col-sm-12">契約金残金　　{{ contract.limit }}</p>
      <p class="col-sm-12">重説実施日　　{{ contract.jsdate }}</p>
    </dl>
  </div>

    <hr>
  
  <div class="container px-6 py-0 mt-5">
    <dl class="row" style="font-size: 1.25rem;">
      <p class="col-sm-12">管理会社　　{{ contract.kanri.name }}</p>
      <p class="col-sm-12">TEL番号　　{{ contract.kanri.tel }}</p>
      <p class="col-sm-12">FAX番号　　{{ contract.kanri.fax }}</p>
    </dl>
  </div>

  <!-- <div class="pagebreak"></div> -->

  <div class="container p-5 mt-5" style="border: solid 1px;">
    <!-- <h3 class="">備考</h3> -->
    <div class="container mt-3 px-3" style="font-size: 1.25rem; line-height: 200%;">
        <strong><u>
          {% autoescape on %}
            {{ contract.zanmuremarks | linebreaksbr }}
            {% endautoescape %}
        </u></strong>
              </div>
  </div>

  <br>
  <br>
  <br>

  {% comment %}
  <div class="container px-6 pt-0">
    <div class="row gx-5 ">
      <div class="col">
            <h4 class="mt-5">振込先</h4>
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th scope="row">銀行</th>
                  <td>{{ contract.corp.bank }}</td>
                </tr>
                <tr>
                  <th scope="row">支店</th>
                  <td>{{ contract.corp.bankbranch }}</td>
                </tr>
                <tr>
                  <th scope="row">口座</th>
                  <td>{{ contract.corp.bankaccount }}</td>
                </tr>
                <tr>
                  <th scope="row">名義</th>
                  <td>{{ contract.corp.bankid }}</td>
                </tr>
                <tr>
                  <th scope="row">ﾌﾘｶﾞﾅ</th>
                  <td>{{ contract.corp.bankkana }}</td>
                </tr>
        
              </tbody>
            </table>
            
      </div>

      <div class="col "> 
        <h4 class="mt-5">担当店</h4>
        <table class="table table-hover">
        <tbody>            
          <tr>
            <th scope="row">店名</th>
            <td>{{ contract.corp.name }}</td>
        </tr>
          <tr>
            <th scope="row">住所</th>
            <td>{{ contract.corp.address }}</td>
        </tr>
          <tr>
            <th scope="row">TEL</th>
            <td>{{ contract.corp.tel }}</td>
        </tr>
          <tr>
            <th scope="row">FAX</th>
            <td>{{ contract.corp.fax }}</td>
        </tr>
          <tr>
            <th scope="row">Mail</th>
            <td>{{ contract.corp.email }}</td>
        </tr>
          <tr>
            <th scope="row">担当</th>
            <td>{{ contract.staff.lastname }}</td>
          </tr>
        </tbody>
      </table>

      {% endcomment %}
      <!-- <div class="col footer-col1 px-6 py-0 printfooter">
        <img class="mt-3 py-2" src="{% static 'img/logo2.png' %}" alt="イエストホーム" title="logo" width="50%">
        <h3>Yes&Home</h3>
        <p class="footer-logo4 my-1 py-1">株式会社　イエストホーム</p>
        <p class="footer-logo3 my-1 py-1">北海道知事　石狩(1) 8834号</p>
    </div> -->

    </div>
    </div>
  </div>

 {% comment %}
  <div style="text-align: center">
    <img class="mt-3 py-2" src="{% static 'img/logo2.png' %}" alt="イエストホーム" title="logo" width="30%">
</div>
{% endcomment %}

<!-- <footer class="footer mt-auto py-3 divFooter">
  <div class="container px-6">

    <div class="row gx-5">
      <div class="col footer-col1">
          <h3>Yes&Home</h3>
          <p class="footer-logo2">株式会社イエストホーム</p>
          <p class="footer-logo3">北海道知事　石狩(1) 8834号</p>
      </div>
  
      <div class="col footer-col2">
          <p>
            札幌市白石区南郷通16丁目北1-18
            <br>TEL 011-868-7770
            <br>FAX 011-868-7771		
            <br>E-mail info@yesthome.co.jp
            <br>https://yesthome.co.jp/
          </p>
      </div>
    </div>
  
  </div>

</footer> -->
</main>
<!-- </body> -->


    
{% endblock content %}
