{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="container mt-5">
    <h2 class="text-center">個人別　売上データ</h2>

    <div class="table" style="width: 20%;line-height: 200%;">
        {{df_name|safe}}
    </div>
    
    {% comment %}
    <div class="table; line-height: 200%;">
        {{df|safe}}
    </div>

    <img src="{% url 'sales_app:bar' %}" width=600 height=600>
    {% endcomment %}

</div>


<div class="container mt-5" style="width: 80%;line-height: 200%;">
    <h2 class="text-center">月次売上</h2>

    <div class="text-center">
        <img src="{% url 'sales_app:create_bar_svg' user_id %}">
    </div>
    
    <div class="table" style="width: 20%;line-height: 200%;">
        {{df_month|safe}}
    </div>
    
</div>



<div class="container mt-5" style="width: 15%;line-height: 200%;">
    <h2 class="text-center">年次売上</h2>

    <div class="table">
        {{df_year|safe}}
    </div>

</div>



{% endblock content %}