{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="container mt-5">
    <h2 class="text-center">売上データ一覧</h2>

    <div class="table; line-height: 200%;">
        {{df|safe}}
    </div>

    {% comment %}

    <img src="{% url 'sales_app:bar' %}" width=600 height=600>


    {% endcomment %}

</div>

<div class="container mt-5" style="width: 80%;line-height: 200%;">
    <h2 class="text-center">月次売上</h2>

    <div class="table" style="width: 20%;line-height: 200%;">
        {{df_month|safe}}
    </div>

    <div class="text-center">
        <img src="{% url 'sales_app:create_svg' user.id %}">
    </div>
    
</div>


<div class="container mt-5" style="width: 15%;line-height: 200%;">
    <h2 class="text-center">年次売上</h2>

    <div class="table">
        {{df_year|safe}}
    </div>

</div>



{% endblock content %}